<% title "Photo crop" %>


<%= image_tag @objet.image.url(:crop), :id => "cropbox" %>

<%= form_for @objet, :url => admin_objet_path(@objet) do |form| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= form.text_field attribute, :id => attribute %> 
  <% end %>
  <p><%= form.submit "Crop" %></p>
<% end %>