
<div id="slider-main-wrapper" class="coda-slider-wrapper">
	<div id = "main-left" class="coda-nav-left"><a href="#" data-dir="prev" title="Slide left"></a></div>
	<div id = "main-right" class="coda-nav-right"><a href="#" data-dir="next" title="Slide right"></a></div>
	<a href="#4" id = "degradD" class="nav-link" data-ref="slider-main slider-left slider-right"></a>
	<a href="#1" id = "degradG" class="nav-link" data-ref="slider-main slider-left slider-right"></a>
	<div class="coda-slider" id="slider-main" data-maxindex ="<%=@objets.size%>">	
	<% objets.each do |objet| %>
	<div>
		<%= image_tag objet.image.url(:big) %>
	</div>
	<% end %>
	</div>
</div>