<div id="texte_accueil">
	<p>
	Marre de l’obsolescence programmée?</br>
	</br>
	Envie d’un bel objet au caractère industriel marqué, design, fonctionnel et unique?</br>
	</br>
	LABEL INDUSTRIEL déniche des trésors au fond des hangars et des ateliers, les polit, les recycle, les transforme</br>
	</br>
	leur donne une seconde vie</br>
	</br>
	... Une vie détournée</br>
	</p>
</div>
<div id="slider-accueil-wrapper" class="coda-slider-wrapper">
	<div class="coda-slider" id="slider-accueil">	
	<% @objets.each do |objet| %>
	<div>
		<%= image_tag objet.image.url(:huge) %>
	</div>
	<% end %>
	</div>
</div>