<div id="texte_accueil">
	marre de l’obsolescence programmée ?</br>
	envie d’un bel objet au caractère industriel marqué, design, fonctionnel et unique ?</br>
	LABEL INDUSTRIEL déniche des trésors au fond des hangars et des ateliers, les polit, les recycle, les transforme</br>
	leur donne une seconde vie</br>
	... une vie détournée</br>
</div>
<div id="slider-accueil-wrapper" class="coda-slider-wrapper">
	<div class="coda-slider" id="slider-accueil">	
	<% @objets.each do |objet| %>
	<div>
		<%= image_tag objet.image.url(:huge) %>
	</div>
	<% end %>
	</div>
</div>